.cal {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
  &-card {
    width: 100%;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 1px 1px 7px #e0e0e0;
  }
  &-grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(5, 4rem);
    gap: 0.5rem;
    padding: 1rem 0;
    justify-content: center;
  }
  &-detile {
    padding: 2rem 3rem;
  }
}

.btn-number {
  outline: none !important;
  border: 0px;
  background-color: #a7d4fa;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: gray;
  box-shadow: 1px 1px 7px #e0e0e0;
  cursor: pointer;
}

h2 {
  font-size: 2.5rem;
  color: gray;
  font-weight: 100;
  align-self: flex-start;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
  color: gray;
  font-weight: 100;
  align-self: flex-start;
}

.dividers {
  border: 1px solid #e0e0e0;
}

h3 {
  font-size: 1.5rem;
  color: gray;
  font-weight: 100;
  align-self: flex-start;
  margin: 0;
}

.item {
  &-plus {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  &-equal {
    grid-column: 4/5;
    grid-row: 3/6;
  }
  &-zero {
    grid-column: 1/3;
    grid-row: 5/6;
  }
}
